@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    @apply bg-pink p-2 rounded-lg text-purplegrey hover:bg-ridercream transition ease-in-out
}

.grad-serenity {
    background-color: #42406f;
    background: linear-gradient(165deg, rgba(247,203,200,1) 0%, rgba(66,64,111,1) 80%);
}

.svg-shadow {
    filter: drop-shadow(5px 5px 8px rgb(0 0 0 / 1));
}

.svg {
    filter: brightness(0) saturate(100%) invert(26%) sepia(11%) saturate(2344%) hue-rotate(203deg) brightness(92%) contrast(91%);
}

.svg-cream {
    filter: brightness(0) saturate(100%) invert(93%) sepia(55%) saturate(135%) hue-rotate(1deg) brightness(105%) contrast(96%);
}

.svg-pink {
    filter: brightness(0) invert(83%) sepia(18%) saturate(338%) hue-rotate(315deg) brightness(95%) contrast(103%);
}

.blurnav {
    background: rgba(66, 64, 111, 0.7);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(66, 64, 111, 0.7);
}

/* card flip */

.scene {
    perspective: 500px;
    height: 300px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #F5f5f5;
    margin: 1em auto;
    padding: 1em;
}

.tarot-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.card-face {
    border-radius: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-back, .tarot-card-flipped {
    transform: rotateY(180deg);
}

.tarot-card img {
    height: 100%;
}


.reversed {
    transform: rotate(180deg);
}

/* fade in */

.fade-in-text {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animate-spin-menu {
    animation: spin 1s linear;
    animation-duration: 250ms;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}